In [1]:
import numpy as np
import pandas as pd

In [2]:
train_raw = pd.read_csv("train.csv")
test_raw = pd.read_csv("test.csv")

In [3]:
train_raw.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test_raw.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360.0,1.0,Urban

In [6]:
train_raw.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
cat_col = ["Gender", "Married", "Dependents", "Self_Employed", "Education", "Credit_History", "Property_Area"]
num_col = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term']

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [10]:
cat_imputer = SimpleImputer(strategy="most_frequent")
cat_imputer.fit(train_raw[cat_col])

train_raw[cat_col] = cat_imputer.transform(train_raw[cat_col])
test_raw[cat_col] = cat_imputer.transform(test_raw[cat_col])

In [11]:
train_raw.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
num_imputer = SimpleImputer(strategy="mean")
num_imputer.fit(train_raw[num_col])

train_raw[num_col] = num_imputer.transform(train_raw[num_col])
test_raw[num_col]= num_imputer.transform(test_raw[num_col])

In [16]:
train_raw.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
test_raw.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [20]:
train_raw.drop_duplicates(inplace=True)
test_raw.drop_duplicates(inplace=True)

In [26]:
train_df = train_raw.drop(["Loan_Status", "Loan_ID"], axis=1)
test_df = test_raw.drop(["Loan_ID"], axis=1)

In [27]:
train_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900.0,0.0,71.000000,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106.0,0.0,40.000000,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072.0,240.0,253.000000,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583.0,0.0,187.000000,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583.0,0.0,133.000000,360.0,0.0,Semiurban

In [28]:
train_df["ApplicantIncome"] += train_df["CoapplicantIncome"]
test_df["ApplicantIncome"] += test_df["CoapplicantIncome"]

In [29]:
test_df.drop(["CoapplicantIncome"], axis=1, inplace=True)
train_df.drop(["CoapplicantIncome"], axis=1, inplace=True)

In [30]:
for cols in cat_col:
    le = LabelEncoder()
    train_df[cols] = le.fit_transform(train_df[cols])
    test_df[cols] = le.transform(test_df[cols])

In [31]:
train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849.0,146.412162,360.0,1,2
1,1,1,1,0,0,6091.0,128.000000,360.0,1,0
2,1,1,0,0,1,3000.0,66.000000,360.0,1,2
3,1,1,0,1,0,4941.0,120.000000,360.0,1,2
4,1,0,0,0,0,6000.0,141.000000,360.0,1,2

In [32]:
num_col.remove("CoapplicantIncome")

In [33]:
train_df[num_col] = np.log(train_df[num_col])
test_df[num_col] = np.log(test_df[num_col])

In [34]:
minmax = MinMaxScaler()
train_df = minmax.fit_transform(train_df)
test_df = minmax.transform(test_df)

In [36]:
train_y = train_raw["Loan_Status"]

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(train_df,train_y,test_size=0.3, random_state=0)

In [38]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)

LogisticRegression()

In [39]:
y_pred_test = log.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred_test)
print(f"Accuracy is {acc}")

Accuracy is 0.827027027027027

## Serialization and Deserialization

In [41]:
import joblib
joblib.dump(log,"model_v1.pkl")

['model_v1.pkl']

In [42]:
#deserialization
final_model = joblib.load("model_v1.pkl")

In [43]:
final_model.intercept_, final_model.coef_

(array([-2.05782461]),
 array([[ 0.02382467,  0.35479553,  0.39528663, -0.442547  , -0.04913972,
          0.04022649, -0.81819713,  0.23511056,  3.18026394,  0.22583306]]))